/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tenali+Ramakrishna&display=swap');

/* VARIABLES CSS */
:root{
    --header-height: 3rem;
    --nav-width:324px;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Colors  */
    --background-color: #d6cfcb;
    --nav-color: #706677;
    --button-color:#b5838d;
    --text1-color: #565264;
    --text2-color: #e5989b;


    /* Font and typography  */
    --body-font: 'Raleway', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Margenes */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* z index  */
    --z-fixed: 100;
}
@media screen and (min-width: 768px){
    :root{
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}
/* BASE */
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--background-color);
    color: var(--text1-color);
    line-height: 1.6;
}
h1,h2,h3,p{
    margin: 0;
}
h3{
    font-weight: var(--font-semi-bold);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text2-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* CLASS CSS */
.section{
    padding: 4rem 0 2rem;
}
.section-title{
    font-size: var(--h1-font-size);
    color: #333;
    margin-bottom: var(--mb-3);
    text-align: center;
}
.section-subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--button-color);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}

/* LAYOUT */
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: var(--nav-color);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 20%;
    height: 100hv;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    transition: .5s;
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--button-color);
    cursor: pointer;
}

.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav__link:hover{
    color: var(--background-color);
}
.nav__toggle{
    color: var(--button-color);
    font-size: 1.3rem;
    cursor: pointer;
}
.nav__toggle:hover{
    color: var(--background-color);
}


/* Show menu */
.show{
    left: 0;
}
/* Active menu */
.active{
    color: var(--background-color);
}

/* HOME */
 .home__container{
    height: calc(100vh - --header-height);
    align-items: center;
}
.home__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
} 
.home__img{
    padding : 1.3rem 1.5rem;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: var(--button-color);
    overflow: hidden;
    margin-bottom: var(--mb-2);
}

.home__img img{
    width: 155px;
    border-radius: 10%;
}

.home__title{
    font-size: var(--h1-font-size);
    color: var(--text1-color);
    font-weight: var(--font-semi-bold);
}
.home__profession{
    font-size: var(--small-font-size);
    color: var(--button-color);
    margin-bottom: var(--mb-5);
}
.home__social{
    margin-bottom: 5rem;
}
.home__social-link{
    display: inline-flex;
    color: #6d6875;
    background-color: #a6808c;
    border-radius: 50%;
    font-size: 1.1rem;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}
.home__social-link:hover{
    color: var(--background-color);
}
/* .home__button{
    width: 100%;
} */
/* Buttons */
.button{
    display: inline-block;
    background-color: var(--nav-color);
    color: var(--button-color);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;
}
.button:hover{
    background-color: var(--button-color);
    color: var(--nav-color);
}
.button__light{
    background-color: var(--nav-color);
    color: var(--button-color);
}
.button__light:hover{
    background-color: var(--button-color);
    color: var(--nav-color);
}